*{
    box-sizing:border-box ;
    list-style: none;
    background-color: whitesmoke;
    
    
}

header{
    padding: 10px;
    background-color:green;
    font-size: 3em;
    color: rgb(237, 216, 99);
    font-style: italic ;
    border:1px solid black;
    
}

h1{
    
    text-align: center;
    background-color:green;
    color:white;
    font:1.5em castellar white;
    font-style:bold;
}

h3{
    background-color: bisque;
    padding: 10px 55px;
    border-radius: 20px;
    color: black;
  font-size: 1.5em;
  text-align: center;
}
section{
    text-align: center;
}
.menu{
    display: flex;
    position: relative;
    margin-left: auto;

    
}
@media screen and (max-width: 700px){
    .menu{
        flex-direction: column;
        
    }
    
    
    
}

.img1,.img2{
    padding:1%;
   
    text-align: center;
   left: 1px;
   margin-left: 50px;
    }

.sm-handle a{
    font-size:1.5em;
    background-color: white;
    
    border-radius: 20px;
    margin: 5px 10px;
    text-decoration: none;
    color: red;
    padding-bottom: 1px;
}
.sm-handle a:hover{
    background-color:rgb(30 30  30);
}
.sm-handle a i{
    margin: 5px;
    color: #FF0000;
}
p{
    font-size: 1.5em;
}
a{
    font-size: 100%;
}
body{
    padding: auto;
    border: 5px ridge black;
}
